.leftHexagonIcon {
  position: fixed;
  height: 50%;
  width: 28%;
  left: 8%;
  top: 15%;
  -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.rightHexagonIcon {
  position: fixed;
  height: 50%;
  width: 28%;
  left: 63%;
  top: 15%;
  -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.centerHexagonIcon {
  position: fixed;
  width: 28%;
  height: 50%;
  left: 35.55%;
  top: 48%;
  -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.jugIcon {
  position: fixed;
  height: 30%;
  left: 43.55%;
  top: 10%;
}

.highlighterAnim {
  animation: myAnim 1s linear 0s 1 normal forwards;
}

@keyframes myAnim {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
    transform: scale(0);
  }

  38% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: scale(1);
  }

  55% {
    animation-timing-function: ease-in;
    transform: scale(0.7);
  }

  72% {
    animation-timing-function: ease-out;
    transform: scale(1);
  }

  81% {
    animation-timing-function: ease-in;
    transform: scale(0.84);
  }

  89% {
    animation-timing-function: ease-out;
    transform: scale(1);
  }

  95% {
    animation-timing-function: ease-in;
    transform: scale(0.95);
  }

  100% {
    animation-timing-function: ease-out;
    transform: scale(1);
  }
}

/* Acitivity End 01 */

.activity01endLady {
  height: 90%;
  position: fixed;
  z-index: 2;
  top: 12%;
  left: 10%;
}

.activity01endJug {
  height: 35%;
  position: fixed;
  z-index: 2;
  top: 29%;
  left: 62%;
}

.leftSquareIcon {
  position: fixed;
  height: 65%;
  left: 15%;
  top: 10%;
  z-index: 5;
  -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.rightSquareIcon {
  position: fixed;
  height: 65%;
  left: 53.55%;
  z-index: 5;
  top: 10%;
  -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.squareJugIcon {
  position: fixed;
  height: 30%;
  left: 43.55%;
  z-index: 6;
  top: 63%;
}
.circleSquareIcon {
  position: fixed;
  height: 45%;
  left: 40%;
  top: 55%;
  z-index: 6;
}

/* Activity end 02 */

.activity02endLady {
  height: 85%;
  position: fixed;
  z-index: 2;
  top: 15.5%;
  left: 15%;
}

.activity02endJug {
  height: 35%;
  position: fixed;
  z-index: 2;
  top: 29%;
  left: 62%;
}
.activity02endJug2 {
  height: 35%;
  position: fixed;
  z-index: 2;
  top: 35%;
  left: 74%;
}

.next_btn {
  position: fixed;
  height: 15%;
  z-index: 1;
  left: 90%;
  top: 81%;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.clickAbleDots div:nth-child(1) {
  height: 200px;
  width: 200px;
  color: aqua;
  display: block;
  z-index: 100;
  position: fixed;
  height: 46.5%;
  width: 13.5%;
  border-radius: 10px;
}
.clickAbleDots div:nth-child(2) {
  height: 200px;
  width: 200px;
  color: aqua;
  display: block;
  z-index: 100;
  position: fixed;
  height: 46.5%;
  width: 13.5%;
  transform: rot(91deg);
  transform: rotate(60deg);
  border-radius: 10px;
}
.clickAbleDots div:nth-child(3) {
  height: 200px;
  width: 200px;
  color: aqua;
  display: block;
  z-index: 100;
  position: fixed;
  height: 46.5%;
  width: 13.5%;
  transform: rot(181deg);
  transform: rotate(300deg);
  border-radius: 10px;
}

.clickAbleDotsLeft {
  left: 15.25%;
  top: 16.76%;
  position: fixed;
  cursor: pointer;
  z-index: 100;
}

.clickAbleDotsRight {
  left: 70.25%;
  top: 16.76%;
  position: fixed;
  cursor: pointer;
  z-index: 100;
}
.clickAbleDotsCenter {
  left: 42.8%;
  top: 49.76%;
  position: fixed;
  cursor: pointer;
  z-index: 100;
}
