.waterUsesBigIcon {
  height: 45%;
  position: fixed;
  z-index: 2;
  top: 25%;
  left: 20%;
  animation-name: scale-up-center;
  animation-duration: 2.5s;
  animation-timing-function: ease-in;
  animation-delay: 3s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
}
.waterUsesBigText {
  height: 20%;
  position: fixed;
  z-index: 2;
  top: 38%;
  left: 50%;
}
.waterUsesBottom {
  display: flex;
  position: fixed;
  justify-content: space-evenly;
  width: 80%;
  top: 75%;
  height: 100%;
  left: 9.7%;
}
.waterUsesSmallIcon {
  height: 20%;
}

@keyframes scale-up-center {
  0% {
    transform: scale(1);
  }
  17% {
    transform: scale(1.15);
  }
  77% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
